NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

OPENAI_API_KEY=

SERPAPI_KEY=

RESEND_API_KEY=
EMAIL_FROM=noreply@columbia.edu

SESSION_SECRET=ef55035ffd520a8d4100332b7099245b6f288ce9e2d1bd45a0cca5b3a4156746
SCRAPER_SECRET=87c02e26c6ce615c8013d514bc758e1e8460d7682d1b84ed7c5fb5875417bc3f

NEXT_PUBLIC_APP_URL=http://localhost:3000
